*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-color {
  background-color: darkcyan;

}

.text-color {
  color: white !important;
}

.text-color:hover {
  color: #fff !important;
  text-shadow: 0 0 5px #03e9f4,
               0 0 25px #03e9f4,
               0 0 50px #03e9f4,
               0 0 100px #03e9f4 !important; 
}

.button-glow{
  background-color: darkcyan !important;
  border: none !important;
  outline: none !important;
}

.button-glow:hover {
  color: #fff !important;
  text-shadow: 0 0 5px #03e9f4,
               0 0 25px #03e9f4,
               0 0 50px #03e9f4,
               0 0 100px #03e9f4 !important; 
  background-color: black !important;

  
}

.cardHighlight {
  min-height: 50%;
}

.primary:hover {
  color: #fff !important;
  text-shadow: 0 0 5px #03e9f4,
               0 0 25px #03e9f4,
               0 0 50px #03e9f4,
               0 0 100px #03e9f4 !important; 
  background-color: black !important;
}

.success:hover{
  color: #fff !important;
  text-shadow: 0 0 5px #03e9f4,
               0 0 25px #03e9f4,
               0 0 50px #03e9f4,
               0 0 100px #03e9f4 !important; 
  background-color: black !important;
}

.danger:hover {

  color: #fff !important;
  text-shadow: 0 0 5px #03e9f4,
               0 0 25px #03e9f4,
               0 0 50px #03e9f4,
               0 0 100px #03e9f4 !important; 
  background-color: black !important;
}

.secondary:hover {
  color: #fff !important;
  text-shadow: 0 0 5px #03e9f4,
               0 0 25px #03e9f4,
               0 0 50px #03e9f4,
               0 0 100px #03e9f4 !important; 
  background-color: black !important;
}